{
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.json", ".babelrc", ".docsenserc", ".prettierrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
