<div>
  {{#if file.isIndex}}
    {{esImport
        all=true
        name=(daam file.path)
        link=(concat '/' file.path  '/source.html')
        from=file.dir
    }}
  {{else}}
    {{esImport
        all=true
        name=(pascalcase file.name)
        link=(concat '/' file.path  '/source.html')
        from=(concat file.dir '/' file.name)
    }}
  {{/if}}
</div>
