<div class="mv4 pa2" id="{{esModule_id}}">
  <code><h3 class="f5 lh-solid">
  <a class="link dim black-90" href="#{{esModule_id}}">
    {{esModule_id}}<i title="This export references an internal expression and cannot be automatically documented." class="ml2 black-50 icon-eye-dropper"></i>
  </a>
    </h3>
    </code>
  <small class="lh-solid">Referenced Export</small>
  <div>
    {{> importFn name=esModule_id file=file }} {{> fndoc jsdoc=jsdoc}}
  </div>
</div>
