<aside>
  <div class="pa2 pt5">
    <nav>
      <h2 class="f2">
        <a class="pa1 mb2 link dim white db" href="/" title="Home">
          Modules
        </a>
      </h2>
      {{ navtree tree=esModuleTree}}
    </nav>
  </div>
</aside>
