<!DOCTYPE html>
<html lang="en">

{{> _head }}

<body onload="main()" class="bg-white">
  <header class="w-100 bg-dark-blue fixed h3">
    <h1 class="f2 ma0 pa0 dib">
      <a class="pl4 link dim white dib" href="/" title="Home">
        <i class="icon-book mr2"></i>
        {{@root.project.name}}
      </a>
    </h1>
  </header>
  <div id="page" class="dn">
    <section class="flex">
      <div class="w-100 bg-navy near-white w-30-l" id="sidenav">
        {{> sidenav }}
      </div>
      <div id="resizer"></div>
      <div class="w-100 pa5" id="content">
        <!-- @XHR-CONTENT-AREA -->
        <div class="measure-super">
          {{> content }}
        </div>
        <!-- @/XHR-CONTENT-AREA -->
      </div>
    </section>
  </div>
</body>

</html>
