<!DOCTYPE html>
<html lang="en">
{{> _head }}

<body class="bg-black-10">
  <div class="mw9 center ph3-ns bg-white">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-30-ns pa2">
        <div class="bg-navy pv4 pl2">
          <div class="f2 near-white pa3 pl3 mb1">
            <a class="mb2 link dim white db" href="/" title="Home">
              <i class="white-50 fa fa-book"></i>&nbsp;DocSense</a>
          </div>
          <div class="f3 near-white pa3 pl3 mb2">
            <i class="white-50 fa fa-cubes"></i>&nbsp;Modules</div>
          {{#each esModules }}
            <div class="mb2">
              <a class="pa2 pl4 link dim white db" href="/{{file_id}}/index.html" title="{{file_id}}">
                <i class="white-50 fa fa-cube"></i>&nbsp;{{modulename file_id}}</a>
            </div>
          {{/each}}
          <div class=" f3 near-white pa3 pl3 mb2 ">Classes</div>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">One</a>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">Two</a>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">Three</a>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">Four</a>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">Five</a>
          <div class="f3 near-white pa3 pl3 mb2 ">Manual</div>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">One</a>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">Two</a>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">Three</a>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">Four</a>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">Five</a>
          <div class="f3 near-white pa3 pl3 mb2 ">More</div>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">One</a>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">Two</a>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">Three</a>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">Four</a>
          <a class="pa2 pl4 link dim white db " href="# " title="Home ">Five</a>
        </div>
      </div>
      <div class="fl w-100 w-70-ns pa2 ">
        <div class="lh-copy bg-white pv4 pl2 ">
          <script>hljs.initHighlightingOnLoad();</script> {{{page}}}</div>
      </div>
    </div>
  </div>
</body>

</html>
