<div>
  <header class="mb5">
    <h1 class="mb0 black-50">
      <i class="blue black-50 pr2 icon-cube" aria-hidden="true"></i>&nbsp;{{ esModule.file.path }}</h1>
    <div class="f5">{{> importHeader file=esModule.file }}</div>
  </header>
  <div class="ml2 mt4">
    <h2>Exports</h2>
    {{#each esModule.exports}}
      {{#eq kind 'ExportingLiteral' }}
        {{> literalBlock }}
        <br/>
      {{/eq}}
      {{#eq kind 'ExportingFunction' }}
        {{> functionBlock }}
        <br/>
      {{/eq}}
      {{#eq kind 'ExportingImport' }}
        {{> importedBlock }}
        <br/>
      {{/eq}}
    {{/each}}
  </div>
  <hr/>
  <h5>db info:</h5>
  <pre><code>{{json esModule}}</code></pre>

</div>
