<head>
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans|Fira+Mono');
    html {
      color: #333;
      font-family: 'Open Sans', sans-serif;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: 'Abel', sans-serif
    }

    code * {
      font-family: 'Fira Mono', monospace;
    }

    .annotation {
      margin: 0 -8px;
    }

    i {
      display: inline-block;
      min-width: 1em;
    }
  </style>


  <link rel="stylesheet" href="/static/icomoon.css" />
  <link rel="stylesheet" href="/static/tachyons.min.css" />
  <link rel="stylesheet" href="/static/hljs.style.css" />
  <script src="/static/highlight.js" />
</head>
