<head>
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
  </style>

  <link rel="stylesheet" href="/static/css/main.css" />
  <script src="/static/js/bowser.min.js"></script>
  <script src="/static/js/main.js"></script>
  <style>
    #content,
    #sidenav {
      max-height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 2em;
    }

    header>h1 {
      vertical-align: middle;
      line-height: 4rem;
    }
  </style>
</head>
