<div class="lh-solid f6">
  {{#if function_id}}
    {{esImport
        all=false
        name=(concat '{ ' name ' }')
        link=(concat '/' file.path  '/source.html')
        line=(getLine function_id)
        from=file.dir
      }}
  {{else}}
    {{esImport
        all=false
        name=(concat '{ ' name ' }')
        link=(concat '/' file.path  '/source.html')
        from=file.dir
      }}
  {{/if}}
</div>
